<!-- #include file="~/ReplicatedCode.aspx" -->
<!DOCTYPE html>
<html>
	<head>
		<title>DotDotSmile | Dresses &amp; Rompers for Toddlers &amp; Infants</title>
		<!-- build:css css/combined.css -->
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<!-- endbuild -->
		<meta name="description" content="Dresses &amp; Rompers for Toddlers &amp; Infants">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta property="og:title" content="DotDotSmile" />
		<meta property="og:url" content="https://www.dotdotsmile.com/" />
		<meta property="og:image" content="https://www.dotdotsmile.com/images/dds-main-fb.jpg" />
		<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-90642525-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-90642525-1');
</script>

	</head>
<body>
<header>

	<div id="counter"></div>

	<a href="index.aspx">
		<img class="logo" src="img/logo.png" alt="logo">
	</a>	
	<nav>
		<ul>
			<li>
				<a class="a1" href="MemberToolsDotNet/ShoppingCartv4/StartPublicShopping.aspx?referringDealerId=<%=ReferringDealerID%>">shop</a>
			</li>
			<li>
				<a class="a2" href="about.aspx">about us</a>
			</li>
			<li>
				<a class="a3" href="contact.aspx">contact</a>
			</li>
			<li>
				<a class="a3" href="MemberToolsDotNet/EnrollmentNew/StartPublicEnrollment.aspx?referringDealerId=<%=ReferringDealerID%>">become a merchandiser</a>
			</li>
			<li>
				<a class="a3" href="MemberToolsDotNet/Login/FirestormLogin.aspx">login</a>
			</li>
		</ul>
	</nav>
</header>
<main>
	<div class="container">
		<div id='main-carousel' class="owl-carousel">
			  <div class="owl-item">
            	<img src="img/porch-4.jpg" alt="Girls spring dresses"/>
            </div>
			 <div class="owl-item">
            	<img src="img/porch-3.jpg" alt="Girls spring dresses"/>
            </div>
             <div class="owl-item">
            	<img src="img/field-walking-4.jpg" alt="girls walking in a field in spring dresses"/>
            </div>
            <div class="owl-item">
            	<img src="img/field-2.jpg" alt="girls holding hands in a field in spring dresses"/>
            </div>
             <div class="owl-item">
            	<img src="img/tree-2.jpg" alt="Two girls in spring dresses"/>
            </div>
            <div class="owl-item">
            	<img src="img/face-painting-5.jpg" alt="Girls holding hands in easter dresses"/>
            </div>
             <div class="owl-item">
            	<img src="img/face-paintings-3.jpg" alt="Girls walking in easter dresses"/>
            </div>
             <div class="owl-item">
            	<img src="img/field-4.jpg" alt="girls in a field with spring dresses"/>
            </div>
            
           
			 <div class="owl-item">
            	<img src="img/field-1.jpg" alt="girl in a field in spring dress"/>
            </div>
             
            
		
		
			 <div class="owl-item">
            	<img src="img/on-the-fence.jpg" alt="Group of girls sitting on a fence"/>
            </div>
			<div class="owl-item">
            	<img src="img/circles.jpg" alt="Girls holding hands going in circles"/>
            </div>
			<div class="owl-item">
            	<img src="img/field.jpg" alt="Girls in a field"/>
            </div>
            <div class="owl-item">
            	<img src="img/group-forest.jpg" alt="Girls in a forest"/>
            </div>
		</div>
		
		<div class="banner">
			<h2 class="banner-title">Saving Young Lives</h2>
			<p class="subtext">This month, a portion of proceeds from these products goes directly to the Trevor Project, an organization that provides intervention to LGBTQ Youth.</p>
		</div>
		
		<div class="image-link-section row">
			<div class="col-md-6 ">
				<a href="#" class="img-link">
					<div class="img-banner pink">
						<h1 class="headline">Giving Back</h1>
						<p class="subtext">We believe in children. We believe in making a difference.</p>
						<p class="link-text">Shop with Purpose <i class="fa fa-caret-right"></i></p>
					</div>
					<img src="img/tustin-field.jpg" alt="girls in a field with spring dresses"/>
				</a>
			</div>
			
			<div class="col-md-6">
				<a href="#" class="img-link">
					<div class="img-banner blue">
						<h1 class="headline">Giving Back</h1>
						<p class="subtext">We believe in children. We believe in making a difference.</p>
						<p class="link-text">Shop with Purpose <i class="fa fa-caret-right"></i></p>
					</div>
					<img src="img/tustin-field.jpg" alt="girls in a field with spring dresses"/>
				</a>
			</div>
		
		</div>

		<div class="inst-follow">
			follow @dotdotsmile on instagram
		</div>

		<div class="row inst-photos">
			<a class="col-6 col-sm-4 col-md-3 col-lg-2" target="_blank" href="https://www.instagram.com/p/Bbve89MFYFM/">
				<div class="inst-photo" style='background-image: url(img/ig-3.jpg)'></div>
			</a>
			<a class="col-6 col-sm-4 col-md-3 col-lg-2" target="_blank" href="https://www.instagram.com/p/Bb98sqyFVPH/">
				<div class="inst-photo" style='background-image: url(img/ig-2.jpg)'></div>
			</a>
			<a class="col-6 col-sm-4 col-md-3 col-lg-2" href="https://www.instagram.com/p/BcC2Y1KFQup/" target="_blank">
				<div class="inst-photo" style='background-image: url(img/ig-1.jpg)'></div>
			</a>
			<a class="col-6 col-sm-4 col-md-3 col-lg-2" target="_blank" href="https://www.instagram.com/p/BbUlEYnF7fz/">
				<div class="inst-photo" style='background-image: url(img/ig-4.jpg)'></div>
			</a>
			<a class="col-6 col-sm-4 col-md-3 col-lg-2" target="_blank" href="https://www.instagram.com/p/BbSFEvVlHWT">
				<div class="inst-photo" style='background-image: url(img/ig-5.jpg)'></div>
			</a>
			<a class="col-6 col-sm-4 col-md-3 col-lg-2" target="_blank" href="https://www.instagram.com/p/BZeoQr8Fm4A/">
				<div class="inst-photo" style='background-image: url(img/ig-6.jpg)'></div>
			</a>		
			<a class="col-6 col-sm-4 col-md-3 col-lg-2" href="https://www.instagram.com/p/BZOqAFsl9Ze/" target="_blank">
				<div class="inst-photo" style='background-image: url(img/ig-7.jpg)'></div>
			</a>
			<a class="col-6 col-sm-4 col-md-3 col-lg-2" target="_blank" href="https://www.instagram.com/p/BTkLHBPFJ1D/">
				<div class="inst-photo" style='background-image: url(img/ig-12.jpg)'></div>
			</a>	
			<a class="col-6 col-sm-4 col-md-3 col-lg-2" target="_blank" href="https://www.instagram.com/p/BYW2aMbl0u0/">
				<div class="inst-photo" style='background-image: url(img/ig-8.jpg)'></div>
			</a>
			<a class="col-6 col-sm-4 col-md-3 col-lg-2" target="_blank" href="https://www.instagram.com/p/BYE7qXploSq/">
				<div class="inst-photo" style='background-image: url(img/ig-9.jpg)'></div>
			</a>
			<a class="col-6 col-sm-4 col-md-3 col-lg-2" target="_blank" href="https://www.instagram.com/p/BXebp93l1AF">
				<div class="inst-photo" style='background-image: url(img/ig-10.jpg)'></div>
			</a>
			<a class="col-6 col-sm-4 col-md-3 col-lg-2" target="_blank" href="https://www.instagram.com/p/BWJR4maFqqy/">
				<div class="inst-photo" style='background-image: url(img/ig-11.jpg)'></div>
			</a>
				
		</div>
	</div>
</main>
<footer>
	<div class="social-bar">
		<a href="https://www.instagram.com/dotdotsmile/" target='_blank' class='social-icon'>
			<i class="fa fa-instagram"></i>
		</a>
		<a href="https://www.facebook.com/dotdotsmilekids/" target='_blank' class='social-icon'>
			<i class="fa fa-facebook"></i>
		</a>
	</div>

	<div class="copy">
		DotDotSmile © 2017. All Rights Reserved. Powered by <a href="http://www.lemonadestand.org" target="_blank">Lemonade Stand</a>.
	</div>

	<div class="footer-nav">
		<ul>
			<li>
				<a href="return.aspx">return policy</a>
			</li>
			<li>
				<a href="privacy.aspx">privacy policy</a>
			</li>
			<li>
				<a href="terms.aspx">terms &amp; conditions</a>
			</li>
		</ul>
	</div>
<script type="text/javascript">
    adroll_adv_id = "2Y3BUSC73VHNBPNN5GDO3H";
    adroll_pix_id = "E56JB4UKSVAADBL6UZJSW4";
    /* OPTIONAL: provide email to improve user identification */
    /* adroll_email = "username@example.com"; */
    (function () {
        var _onload = function(){
            if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
            if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
            var scr = document.createElement("script");
            var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
            scr.setAttribute('async', 'true');
            scr.type = "text/javascript";
            scr.src = host + "/j/roundtrip.js";
            ((document.getElementsByTagName('head') || [null])[0] ||
                document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
        };
        if (window.addEventListener) {window.addEventListener('load', _onload, false);}
        else {window.attachEvent('onload', _onload)}
    }());
</script>
</footer>
<!-- build:js scripts/combined.js -->
	<script type="text/javascript" src='js/vendor.js'></script>
	<script type="text/javascript" src="js/script.js"></script>
	<script type="text/javascript" src="js/countdown.js"></script>
	<!-- endbuild -->
</body>
	
</html>