@import 'media';
@import 'libs/bootstrap/scss/bootstrap';
@import 'libs/font-awesome/scss/font-awesome';
@import 'libs/owl.carousel/src/scss/owl.carousel.scss';
@import 'libs/owl.carousel/src/scss/owl.theme.default.scss';



$blue: #1e74ba;
$green: #15693c;
$yellow: #f2db34;
$aqua: #49e5ea;
$pink: #eb587d;
$red: #ec1e24;
$purple: #963a95;

@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

@font-face {
    font-family: 'proxima_novalight';
    src: url('../fonts/proxima_nova_light-webfont.ttf') format('ttf'),
    	 url('../fonts/proxima_nova_light-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: proxima_novalight;
}

.margin-top-sm{
	margin-top: 30px;
}

.margin-top-lg {
    margin-top: 90px;
}

header {
	text-align: center;
	padding: 50px 0 20px 0px;

	.logo{
		width: 100%;
		max-width: 200px;
	}

	nav {
		margin-top: 40px;

		ul {
			padding: 0px;
			margin: 0px;
		}
		li {
			display: inline-block;
			padding: 0px 40px;

			a{
				color: #888;
			}
			a:hover{
				text-decoration: none;
			}
			.a1:hover{
				color: $blue;
			}
			.a2:hover{
				color: $red;
			}
			.a3:hover{
				color: $purple;
			}

			@include media('xs-max'){
				padding: 0px 20px;
			}
		}

		
	}
	
}

main {
	margin-bottom: 40px;

	div#main-carousel {
	   margin-bottom: 20px;
	}

	.owl-dots {
		text-align: center;
	}

	.owl-dot {
		background-color: $aqua;
	    width: 12px;
	    height: 12px;
	    border-radius: 12px;
	    opacity: .5;
	    margin-top: 10px;
	    margin: 20px 5px;
	    display: inline-block;
	}

	.owl-nav {
	    position: absolute;
	    top: 0;
	    width: 100%;
	    padding: 0px;
	    clear: both;
	    height: calc(100% - 60px);
	}

	.owl-nav i{
		color: #fff;
		opacity: .5;
    	font-size: 30px;
    	transition: all .5s;
	}



	.owl-prev, .owl-next{
		height: 100%;
	    display: flex;
	    flex-direction: row;
	    align-items: center;
	    padding: 10%;
	}

	.owl-nav .owl-prev:hover i, .owl-nav .owl-next:hover i,{
		opacity: 1;
	}

	.owl-prev{
		float: left;
	}

	.owl-next{
		float: right;
	}

	.owl-dot.active {
	    background-color: $pink;	
	    
	}

	.owl-dot:hover {
		opacity: .8;
	}

	.inst-follow {
	    text-align: center;
	    margin: 30px 0;
	    color: #777;
	}

	.inst-photos a {
	    margin: 15px 0;
	}

	.inst-photo {
		width: 100%;
		padding-bottom: 100%;
		background-size: cover;
		background-position: center;
		transition: all .9s;
	}

	.inst-photo:hover,
	.inst-photo:focus{
	  	transform: scale(1.1);
	}

	.video-container{
		width: 100%;
		padding-bottom: 56.2%;
		position: relative;
		display: inline-block;
	}

	.dotdotvideo {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	.we-text{
		line-height: 30px;
    	cursor: default;
	}

	.we-highlight{
		font-family: 'Great Vibes',cursive;
    	font-size: 90px;
    	color: #eee;
	}

	.dot{
		width: 10px;
		height: 10px;
		border-radius: 20px;
		opacity: .3;
		display: inline-block;
		margin-left: -5px;
	}

	.dot-aqua{
		background: $aqua;
		margin-left: 20px;
	}

	.dot-pink{
		background: $pink;
	}

	.dot-yellow{
		background: $yellow;
	}

	.we-row {
		width: 100%;
		padding-left: 40px;
	}

	.fun-highlight {
		transition: all .4s;
	}

	.we-row:hover .fun-blue {
		color: $blue;
	}

	.we-row:hover .fun-red {
		color: $red;
	}

	.we-row:hover .fun-aqua {
		color: $aqua;
	}

	.we-row:hover .fun-purple {
		color: $purple;
	}

	.we-row:hover .fun-orange {
		color: $orange;
	}

	.we-row:hover .fun-yellow {
		color: $yellow;
	}

	.we-row:hover .fun-green {
		color: $green;
	}

	.we-row:hover .fun-pink {
		color: $pink;
	}

	.contact-form{
		max-width: 440px;
		display: block;
		margin: 100px auto;
	}

	input, textarea, select{
		border-radius: 3px;
	    border: 2px solid #eaeaea;
	    padding: 5px 15px;
	    box-sizing: border-box;
	    width: 100%;
	    margin: 15px 0;
	}

	textarea{
		padding: 0px;
	}

	.sub-btn {
		background: transparent;
	    color: #777;
	    cursor: pointer;
	    transition: all .5s;
	    border: 0px;
	    background: #eee;
	}

	.sub-btn:hover {
		background: $pink;
		color: white;

	}

}

.privacy, .terms{
	color: #777;
}

footer{
	padding: 40px 0px 10px;
	.social-bar {
		text-align: center;
	}
	.social-icon{
		padding: 10px;
		text-decoration: none;
		color: #999;

		i{
			font-size: 14px;
		}

		.fa-instagram:hover {
			color: $red;
		}
		.fa-facebook:hover {
			color: $blue;
		}
		.fa-twitter:hover {
			color: $aqua;
		}

	}


	.footer-nav{
		margin: 20px 0;
		text-align: center;
		ul{
			padding: 0px;
			margin-top: 0px;

			li{
				display: inline-block;

				a{
					padding: 2px 20px;
				    border-right: 1px solid #ccc;
				    font-size: 10px;
				    color: #999;
				    min-width: 120px;
				    display: inline-block;
				}
			}
			li:last-child a{
				border-right: 0px;
			}
		}
	}

	.copy{
		font-size: 10px;
	    color: #ccc;
	    text-align: center;
	    margin: 20px;
		a{
			color: #777;
		}
	}
}